<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cuprum" rel="stylesheet">
    <link rel="stylesheet" href="pyboombox.css">
    <style>
    .gentitle
    {
        background-image:url(" C:/Users/VIDUSHI/Desktop/rock.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

</head>

<body>
    <div class="navbar">
        <h1>
          <span class="glyphicon glyphicon-align-justify"></span>
        Restaurant</h1>
    </div>
    <div class='gencard'>
        <div class="gentitle"><h1>Rock</h1></div>
            <div class="song">
                <div class="col-xs-8">
                    <h3><b>This is what you came for</b></h3><br><br><h4>ghdgfhdgf</h4>
                </div>
                <div class="col-xs-4" style="height:150px">
                    <img class="img-circle" src="rb.jpg"></img>
                </div>
            </div>            
        </div>
    </div>
</body>

</html>
